<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="client_id" value="(自分の環境のクライアントIDを入力する)"/>
      <add key="client_secret" value="(自分の環境のクライアントシークレットを入力する)"/>
      <add key="code" value="(自分の環境の認可コードを入力する)"/>
    </appSettings>
</configuration>